@{
  Layout = "_Layout";
}

@using PierreAuth.Models;
@model IEnumerable<PierreAuth.Models.Flavor>

<h1>Flavors for @User.Identity.Name</h1>

@if (Model.Any())
{
    @foreach (Flavor Flavor in Model)
    {
      <p><h3>@Html.ActionLink($"{Flavor.Description}", "Details", new { id = Flavor.FlavorId })</h3></p>
    }
} 
else
{
  <h3>No Flavors have been added yet!</h3>
}

<p>@Html.ActionLink("Add New Flavor", "Create")</p>
<p>@Html.ActionLink("See all Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</p>